.green-button {
    -fx-background-color: #6dc371;
    -fx-background-radius: 10;
}

.green-button:hover {
    -fx-background-color: #5EA862;
    -fx-cursor: hand;
}

.blue-button {
    -fx-background-color: #018bb5;
    -fx-background-radius: 10;
}

.blue-button:hover {
    -fx-background-color: #017598;
    -fx-cursor: hand;
}

.red-button {
    -fx-background-color: #e30613;
    -fx-background-radius: 10;
}

.red-button:hover {
    -fx-background-color: #A3050F;
    -fx-cursor: hand;
}

.
.rules-button:hover {
    -fx-cursor: hand;
}

.list-label {
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-alignment: center;
}
.hbox {
     -fx-pref-height: 60;
     -fx-pref-width: 980;
 }

.hbox:hover {
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#73431B;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-cursor: hand;


}
