.green-button {
    -fx-background-color: #6dc371;
    -fx-background-radius: 10;
}

.green-button:hover {
    -fx-background-color: #5EA862;
    -fx-cursor: hand;
}

.blue-button {
    -fx-background-color: #018bb5;
    -fx-background-radius: 10;
}

.blue-button:hover {
    -fx-background-color: #017598;
    -fx-cursor: hand;
}

.red-button {
    -fx-background-color: #e30613;
    -fx-background-radius: 10;
}

.red-button:hover {
    -fx-background-color: #A3050F;
    -fx-cursor: hand;
}

.rules-button:hover {
    -fx-cursor: hand;
}